
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<center>
	<h1>Welcome To <i class="text-success">Zero Hunger</i></h1><br />
	<form action="" method="post">
		<fieldset>
			<h4>Register as a new restaurant owner?</h4>
			<input type="text" name="Name" class="form-control" placeholder="Name" />
			<input type="password" name="Password" class="form-control" placeholder="Password" />
			<input type="text" name="Location" class="form-control" placeholder="Location" />
			<input type="submit" class="btn btn-info" value="Register" />
		</fieldset>
	</form>
	<br />
	Already have an account? <a href="/Accounts/Login" class="btn btn-warning">Login</a>
</center>