
@{
	ViewBag.Title = "Login";
}

<h2>Login</h2>

<center>
	<form action="" method="post">
		<fieldset>
			<input type="text" name="AccountLogName" class="form-control" placeholder="Name" />
			<input type="password" name="AccountLogPassword" class="form-control" placeholder="Password" />
			<input type="submit" class="btn btn-info" value="Login" />
		</fieldset>
	</form>
</center>